<%= form_with(model: @study_material, local: true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

  <div id="image-list">
    <% if @study_material.image.attached? %>
      <%= image_tag @study_material.image %>
    <% end %>
  </div>

  <%= f.label :image %>
  <%= f.file_field :image %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.submit "Post" %>
<% end %>