<%= form_with(url: search_study_materials_path, method: :get, local: true) do |f| %>
  <%= f.text_field :keyword %>
  <%= f.submit '本の題名を検索' %>
<% end %>
<% if @study_materials %>
  <% @study_materials.each do |study_material| %>
    <p><%= study_material.name %></p>
    <%= image_tag study_material.image_url %>
    <%= button_to "登録", study_materials_path, { method: :post , params: {study_material: {name: study_material.name, image_url: study_material.image_url}}}%>
  <% end %>
<% end %>
