<li>
  <%= image_tag study_note.study_material.picture.variant(resize_to_limit: [100, 100]) if study_note.study_material.picture.attached? %>
  <%= study_note.title %>
  <%= study_note.page_number %>
  <%= link_to "delete", study_note, method: :delete, data: {confirm: "You sure?"} %>
  <%= link_to "edit", edit_study_note_path(study_note), data: {"turbolinks" => false} %>
</li>